O.currency_page{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin:0 auto;
   

}
.main_page h1{
    color: white;
}
.main_page{
    background: #444444;
height: 508px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin:0 auto;
}
#currency{
    margin-right: 16px;
    border:none;
    margin-bottom: 12px;
    border-radius: 5px;
    padding: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
#currency:focus{
    outline:none
}
.option_{
    padding:10px;
    border-radius: 5px;
}
.option_:focus{
    outline:none
}